$base-font-size: 16px;
$modular-scale: 1.3;

@function power ($x, $n) {
    $ret: 1;

    @if $n >= 0 {
        @for $i from 1 through $n {
            $ret: $ret * $x;
        }
    } @else {
        @for $i from $n to 0 {
            $ret: $ret / $x;
        }
    }

    @return $ret;
}

@mixin gtypo($scalar) {
  font-size: $base-font-size * power($modular-scale, $scalar);
  line-height: $base-font-size * power($modular-scale, $scalar) * 1.4;
}

html {
  font-size: $base-font-size * 1.4;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

h1 {
  @include gtypo(4);
  margin-bottom: 1rem;
}

h2 {
  @include gtypo(3);
}

h3 {
  @include gtypo(2);
}

h4 {
  @include gtypo(1);
}

h5 {
  @include gtypo(-1);
}

h6 {
  @include gtypo(-2);
}

p {
  font-size: $base-font-size;
  line-height: $base-font-size * 1.4;
}
